<form class="example-form" *ngIf = "user">
    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput name="title" [(ngModel)]="user.title" (input)="saveUser()">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>
      <input matInput name="firstName" [(ngModel)]="user.firstName" (input)="saveUser()">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput name="lastName" [(ngModel)]="user.lastName" (input)="saveUser()">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Picture</mat-label>
      <input matInput name="picture" [(ngModel)]="user.picture" (input)="saveUser()">
    </mat-form-field>

    <section>
      <div class="example-button-row">
        <button mat-button (click)="router.navigate(['users'])">Back</button>
      </div>
    </section>
  </form>
